* {
  margin: 0;
  box-sizing: border-box;
  
}


nav {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 263px;
  height: 59px;
  display: flex;
  justify-content: space-between;
 

}

.nav__logo-text {
  align-self: center;
  width: 190px;
  height: 48px;
}

.nav__logo-text span {
  text-transform: uppercase;
  color: #343D33;
  font-family: "roboto";
  font-weight: 500;
  font-size: 23px;
  line-height: 26px;
  letter-spacing: 2px;
}

.nav__logo-text p {
  color: #333333;
  font-family: "roboto";
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0,5px;
}

nav ul {
  width: 795px;
  height: 46px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  gap: 40px;
 
  
}

nav ul li a {
  color: #414840;
  text-decoration: none;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1,5px;
  
  
  
}

button {
  background-color: transparent;
  width: 169px;
  height: 46px;
  border: 2px solid #475F45;
  text-transform: uppercase;
 
}

button {
  color: #475F45;
  font-family: "roboto";
  font-weight: 700;
  size: 14px;
  line-height: 16px;
}
  